@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main>
    <section class="contenedor" id="sobremi">
        <h2 class="subtitulo">SOBRE MÍ</h2>

        <div class="card card-4 bg-light mb-3" style="max-width: 700px;" color="red">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="img/PerfilLinkedin.jpg" class="img-fluid rounded-circle" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Pablo Britez Santana</h5>
                        <p class="card-text">
                            Apasionado del mundo digital.
                            Tengo interés en trabajar en equipos de IT para adquirir experiencia que sume nuevos conocimientos para mi crecimiento personal y profesional, así cómo también dar soluciones a problemas que se presenten aplicando mi experiencia.
                        </p>
                        <p class="card-text"><small class="text-muted">13/04/2023</small></p>
                        <div>
                            <a href="Content/cvPabloSantana2023.pdf" target="_blank">Descargá mi CV</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <h2 style="color: #fff">Aptitudes </h2>
        <p style="color: #fff">
            Estas son algunas de las tecnologías de las que tengo conocimientos.
        </p>
        <div class="aptitudes">
            <div>
                <img src="/img/aptitudes/microsoft.net.png" width="100px" alt="...">
                <img src="/img/aptitudes/csharp.png" width="100px" alt="...">
                <img src="/img/aptitudes/sql.png" width="100px" alt="...">
                <img src="/img/aptitudes/asp.netLogo.png" width="100px" alt="...">
            </div>
        </div>

    </section>

</main>
